@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@theme {
    --font-sans: 'Josefin Sans', sans-serif;
    --font-alata: 'Alata', sans-serif;
}

#hero{
    background-image: url('src/images/desktop/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 576px){
    #hero{
        background-image: url('src/images/mobile/image-hero.jpg');
        background-position: center;
    }
}

.item-container{
    @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}

.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;

}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    left: 0;
    top:0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0deg);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
}
.open .hamburger-top{
    transform: rotate(45deg) translate(6px, 6px);
}
.open .hamburger-middle{
    opacity: 0;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translate(-6px, 6px);
}